.wrapper {
	@apply flex flex-col;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	//margin: 0 auto;
    margin: 2px 1em 0 20em;
}
.bread_crumbs {
	padding: 2.5vw 2.5vw;
	font-size: 1.67vw;
}

