.base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 1.74vw;
    position: relative;
}

.main_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: #ffffff;

    h1 {
        color: #444444;
        font-size: 2.22vw;
        line-height: 6.6vw;
        text-align: right;
    }

    p {
        font-size: 1.67vw;
        line-height: 1.67vw;
        text-align: right;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25vw;

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 29.51vw;
            width: 90vw;

            &:nth-child(2) {
                .text_block {
                    align-items: flex-start;

                    .text {
                        align-items: flex-start;
                    }
                }

                h1 {
                    text-align: left;
                }

                p {
                    text-align: left
                }
            }

            .text_block {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                gap: 3.47vw;

                button {
                    width: 18.05vw;
                    height: 3.75vw;
                    font-size: 1.67vw;
                    line-height: 1.67vw;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #F7EFE9;
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                }
            }
        }
    }

    .circle1 {
        width: 27.78vw;
        height: 27.78vw;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #F7EFE9 solid 0.21vw;

        .circle2 {
            width: 25vw;
            height: 25vw;
            border-radius: 100%;
            border: #F7EFE9 dashed 0.35vw;
            .img{
                border-radius: 66%;
                height: 24.27vw;
                width: 25.07vw;
            }
        }
    }
}
